@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    /*vertically center-align columns*/
    @@media (min-width: 992px) {
        .vertical-center-align {
            display: flex;
            align-items: center;
        }
    }

    /*styles for the original image*/
    img {
        width: 100%;
        height: 512px;
    }

    /*styles for the guidelines*/
    h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); /*center positioned on the image*/
        font-family: Consolas;
        color: ghostwhite;
    }

    /*set padding for class form-group*/
    .form-group {
        padding-bottom: 2em;
    }
</style>



<!--get history result-->
<div class="row vertical-center-align" style="margin:1em">
    <div class="col-md-8" id="detection_history_original">
        <img src="~/Images/detection-history-placeholder.png" alt="loading" />
        <h3 class="hidden-xs">
            1. Enter your StreamId;<br />
            2. Select an Engine, or just choose ANY to get the one UP-TO-DATE;<br />
            3. Select the START Date and END Date;<br />
            4. Then you will get the History Detection Result
        </h3>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-4" for="streamId">Stream:</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="streamId" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4" for="engineId">Engine:</label>
                    <div class="col-xs-8">
                        <select class="form-control" id="engineId">
                            <!--initial engine list-->
                            <option>any</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4" for="fromDatePicker">From:</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="fromDatePicker" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4" for="toDatePicker">To:</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="toDatePicker" type="text" />
                    </div>
                </div>
                <button class="btn btn-primary col-xs-offset-2 col-xs-8" id="btn_getHistory">Get History Result</button>
            </div>
        </div>
    </div>
</div>


<!--tuning-->
<div class="row vertical-center-align" style="margin:1em">
    <div class="col-md-8" id="tuning_result_original">
        <img src="~/Images/tuning-result-placeholder.png" alt="loading" />
        <h3 class="hidden-xs">
            1. After getting History Result, modify the Parameters on the right;<br />
            2. Retrain and you will get a Comparison Chart;<br />
            3. If you are satisfied with the Tuning Result, please click on the Save Button
        </h3>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-body">
                <!--to append parameters-->
                <div id="parameters"></div>

                <button class="btn btn-success col-xs-offset-2 col-xs-8" id="btn_tuning" disabled="disabled">Retrain</button>
                <button class="btn btn-warning col-xs-offset-2 col-xs-8" style="margin-top:2.5em" id="btn_save" disabled="disabled">Save</button>
            </div>
            <!--to show success info-->
            <div id="save_success_text" style="text-align:center;font-size:small"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/chartHelper.js"></script>
    <script src="~/Scripts/clickEventHandler.js"></script>
    <script>
        var tuningUrl = "@ViewBag.TuningUrl";

        $(document).ready(function () {
            //default:yesterday
            var date = new Date();
            date.setDate(date.getDate() - 1);
            var yesterdayString = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();

            $("#fromDatePicker").val(yesterdayString);
            $("#toDatePicker").val(yesterdayString);

            var formatOfDate = "mm/dd/yy";
            $("#fromDatePicker").datepicker({
                minDate: "-1Y",
                maxDate: 0,
                dateFormat: formatOfDate
            });
            $("#toDatePicker").datepicker({
                minDate: "-1Y",
                maxDate: 0,
                dateFormat: formatOfDate
            });
        })

        //refresh when the window size change
        $(window).on("resize", function () {
            var hisChart = $("#detection_history_original").data("kendoStockChart");
            if (hisChart != null) {
                hisChart.refresh();
            }
            var tuneChart = $("#tuning_result_original").data("kendoStockChart");
            if (tuneChart != null) {
                tuneChart.refresh();
            }
        });

        $("#btn_getHistory").on("click", onGetClicked);
        $("#btn_tuning").on("click", onTuneClicked);
        $("#btn_save").on("click", onSaveClicked);
    </script>
}