@model Microsoft.CAP.Portal.Models.TuningViewModel
@{
    ViewBag.Title = "Home Page";
}

<!-- vertically align columns-->
<style type="text/css">
    @@media (min-width: 992px) {
        .vertical-align {
            display: flex;
            align-items: center;
        }
    }
</style>

<!--get history result-->
<div class="row vertical-align" style="margin-top:2em">
    <div class="col-md-8" id="chart1" style="position:relative">
        <img src="~/Images/loading1.png" alt="loading" style="width:100%;position:relative" />
        <div class="hidden-xs" style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)">
            <h3 style="font-family:Consolas;color:ghostwhite">
                1. Enter your StreamID;<br />
                2. Select an Engine, or just choose ANY to get the one UP-TO-DATE;<br />
                3. Select the START Date and END Date;<br />
                4. Then you will get the History Detection Result
            </h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group" style="padding-bottom:2em">
                    <label class="col-xs-4" for="streamID">Stream:</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="streamID" type="text"/>
                    </div>
                </div>
                <div class="form-group" style="padding-bottom:2em">
                    <label class="col-xs-4" for="engineID">Engine:</label>
                    <div class="col-xs-8">
                        <select class="form-control" id="engineID">
                            <!--engine example-->
                            <option>Any</option>
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="padding-bottom:2em">
                    <label class="col-xs-4" for="fromDatePicker">From:</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="fromDatePicker" type="text" />
                    </div>
                </div>
                <div class="form-group" style="padding-bottom:2em">
                    <label class="col-xs-4" for="toDatePicker">To:</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="toDatePicker" type="text" />
                    </div>
                </div>
                <button class="btn btn-primary col-xs-offset-2 col-xs-8" id="btn_getHistory">Get History Result</button>
            </div>
        </div>
    </div>
</div>


<!--tuning-->
<div class="row vertical-align" style="margin-top:2em">
    <div class="col-md-8" id="chart2">
        <img src="~/Images/loading2.png" alt="loading" style="width:100%;position:relative" />
        <div class="hidden-xs" style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)">
            <h3 style="font-family:Consolas;color:ghostwhite">
                1. After getting History Result, modify the Parameters on the right;<br />
                2. Retrain and you will get a Comparison Chart;<br />
                3. If you are satisfied with the Tuning Result, please click on the Save Button
            </h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-body">
                <!--parameters example-->
                @foreach (var item in Model.Parameters)
                {
                    <div class="form-group" style="padding-bottom:2em">
                        <label class="col-xs-4" for="@item.Key">@item.Key:</label>
                        <div class="col-xs-8">
                            <input class="form-control" id="@item.Key" type="text" value="@item.Value" />
                        </div>
                    </div>
                }
                <button class="btn btn-success col-xs-offset-2 col-xs-8" id="btn_tuning">Retrain</button>
                <button class="btn btn-warning col-xs-offset-2 col-xs-8" style="margin-top:2.5em" id="btn_save">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //default:yesterday
        var yesterday = new Date(new Date() - 24 * 60 * 60 * 1000);
        $("#fromDatePicker").val((yesterday.getMonth()+1) + "/" + yesterday.getDate() + "/" + yesterday.getFullYear());
        $("#toDatePicker").val((yesterday.getMonth()+1) + "/" + yesterday.getDate()+"/"+yesterday.getFullYear());

        var formatOfDate = "mm/dd/yy";
        var from=$("#fromDatePicker").datepicker({
            minDate: "-1M",
            maxDate: 0,
            dateFormat: formatOfDate
        });
        var to=$("#toDatePicker").datepicker({
            minDate: "-1M",
            maxDate: 0,
            dateFormat: formatOfDate
        });
    })
</script>